form.signup,
form.login {
  margin-top: 50px;
}
  /* this entire style sheet here only contains modal css */
  /* The Modal (background) */
.imagefluid {
  width: 100%;
  height: auto;
}
.profile-member-welcome {
  text-align: center;
}

.nav {
  display: inline;
}

footer {
  background-color: white;
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
}
/* .custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
} */
#yourBtn {
  /* position: relative; */
  /* top: 150px; */
  font-family: calibri;
  /* width: 150px;
  padding: 10px; */
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px; */
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
}