/* Google Fonts */
/* @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro); */

form.signup,
form.login {
  margin-top: 50px;
}
li {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar-default .navbar-nav>li>a {
  color:teal;
  font-size: 15px;
}
.navbar {
  margin: 0px;
  border-color: rgb(158, 199, 146);
}
/* this entire style sheet here only contains modal css */
/* The Modal (background) */
.imagefluid {
  width: 100%;
  height: auto;
}
.profile-div {
  background-image: url("photo-1457369804613-52c61a468e7d.jpg");
   background-size: cover;
   width: 100%;
   height: 200px;
   /* background-position: right; */
}
.memberdiv-transparent {
  /* background-color: rgba(15, 15, 13, 0.4); */
  background-color: rgb(255, 255, 251, 0.4);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.member-welcome-text {
  position: relative;
  top: 85px;
  color: teal;
  /* bottom: 150px; */
}
.profile-member-welcome {
  text-align: center;
  /* color: teal; */
  /* color: black; */
  /* position: relative; */
  /* bottom: 150px; */
}

.nav {
  display: inline;
}

footer {
  background-color: white;
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
}

/* .custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
} */
#yourBtn {
  /* position: relative; */
  /* top: 150px; */
  font-family: calibri;
  /* width: 150px;
  padding: 10px; */
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px; */
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
}
/* editing storybook page */
/* .col-md-3 {
  float: left;
} */
.storylist-div {
  width: 250px;
  height: 250px;
  margin: 20px;
  float: left;
}
.image-post {
  width: 250px;
  height: 250px;
}
/* aka card */
.storylist-text-div {
  color: white;
  position: relative;
  bottom: 150px;
  /* background-color: white; */
  padding: 5px;
  font-weight: 900;
  text-align: center;
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-stretch: expanded;

}
.storylist-headers {
  color: white;

}
/* a {
  font-size: 30px;
} */

.storylist-buttons {
  position: relative;
  bottom: 290px;
  float: right;
}
.storylist-delete-btn {
  background-color: grey;
}

.storylist-authors {
  position: relative;
  bottom: 45px;
  /* float: left;
  color:white; */
  /* background-color: white; */
}

/* .image-post:hover {
  background-color: black;
} */
.header-post {
  height: 250px;
}
.post-text-header {
  position: relative;
  bottom: 150px;
  padding: 5px;
  /* width: 290px; */
  /* background-color: blue; */
  /* opacity: 0.8; */
  text-align: center;
  color: white;
  font-weight: 400;
}
.post-title {
  color: white;
  font-weight: 800;
}
.col-md-12 {
  padding: 0px;
}
.imagefluid-header {
  width: 100%;
  height: 250px;
  /* background-color: rgba(15, 15, 13, 0.2);
  top: 0;
   left: 0;
   width: 100%;
   height: 100%; */
}
.imagefluid-one {
  height: 170px;
  width: 80%;
  /* padding: 20px; */
  /* width: 250px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imagefluid-two {
  height: 170px;
  width: 80%;
  /* padding: 20px; */
  /* width: 250px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-body-one {
  /* font-family: 'Anonymous Pro';  */
  font-family: Courier, monospace;
  padding: 10px 20px 10px 20px;
/* letter-spacing: .17em; */
}
.post-body-two {
  /* font-family: 'Anonymous Pro';  */
  font-family: Courier, monospace;
    padding: 10px 20px 10px 20px;
/* letter-spacing: .17em; */
}


/* member page card appending classes */
.card {
  margin: 5px 5px 5px 5px;
}

.new-post-btn {
  float: right;
}